@charset "utf-8";
@import url("//fonts.googleapis.com/css?family=Nanum+Gothic");
@import url("//vendor-cdn.imweb.me/css/nanumSquare.css");

@-moz-keyframes fadein {
	0% {
		opacity: 0
	}
	100% {
		opacity: 1
	}
}
@-webkit-keyframes fadein {
	0% {
		opacity: 0
	}
	100% {
		opacity: 1
	}
}
body {
	font-size:15px;
	font-family: 'Raleway', 'NanumGothic', Sans-Serif;
	color:#333;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-feature-settings: 'liga', 'kern';
	direction: ltr;
	line-height: 1.45;
	overflow-x: hidden;
	overflow-y: scroll;
	margin: 0;
}
a {
	color:#333;
	transition:.2s;
}
a:hover, a:focus {
	text-decoration: none;
	color:#333;
	outline: none;
}
h1, h2, h3 {
	font-family: 'helvetica', 'NanumSquare', Sans-Serif;
	margin: 0;
}
p, dl, ol, ul {
	word-break: keep-all;
}
ul > li {
	list-style: none;
}
ul {
	 padding-left: 0;
}
aside {
	width: 300px;
	height: 100%;
	position: fixed;
	top :0;
	left: 0;
	bottom: 0;
	z-index: 1;
	padding: 80px 0;
	text-align: center;
	-webkit-box-shadow: 6px 0 15px -3px rgba(0,0,0,0.04);
	-moz-box-shadow: 6px 0 15px -3px rgba(0,0,0,0.04);
	box-shadow: 6px 0 15px -3px rgba(0,0,0,0.04);
}
main {
	margin-left: 300px;
}
.logo {
	text-align: center;
}
.logo img {
	max-width: 128px;
	width: 100%;
}
.text_bold {
	font-weight: bold;
}
.text_gray {
	color: rgba(54,59,62,0.4);
}
.preview_nav {
	margin-top: 65px;
}
.preview_nav > li {
	margin-bottom: 40px;
}
.preview_nav > li:last-child {
	margin-bottom: 0;
}
.nav_button {
	font-size: 3.2em;
}
.nav_button a {
	text-decoration: none;
	color: #b2b8c0;
}
.nav_button a:hover {
	color: #9ea4aa;
}
.p_bg {
	height: 100vh;
	color: #fff;
	position: relative;
}
#skills .p_bg {
	background: url(https://ddokn.github.io/portfolio/img/skills.jpg) no-repeat fixed center center;
	background-size: cover;
}
#skills .p_bg:before {
	display: block;
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.4);
}
#skills .wrapper {
	display: table;
	width: calc(100% - 120px);
	padding: 80px 60px;
}
#skills .p_summary {
	display: table-cell;
	vertical-align: middle;
}
.p_title {
	position: absolute;
	top: 50%;
	left: 60px;
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.p_title h1 {
	font-size: 4em
}
.p_title h3 {
	font-size: 2em;
	font-weight: normal;
}
.top_line {
	position: relative;
}
.top_line:before {
	content: '';
	position: absolute;
	width: 20px;
	height: 1px;
	background: #f33759;
	top: -1em;
}