@charset "utf-8";
@-moz-keyframes fadein {
	0% {
		opacity: 0
	}
	100% {
		opacity: 1
	}
}
@-webkit-keyframes fadein {
	0% {
		opacity: 0
	}
	100% {
		opacity: 1
	}
}
body {
	font-size:14px;
	font-family: 'Raleway', 'Noto Sans KR', Sans-Serif;
	color:#3B4859;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-feature-settings: 'liga', 'kern';
	direction: ltr;
	line-height: 1.45;
	overflow-x: hidden;
	overflow-y: scroll;
	margin: 0;
}
a {
	color:#3B4859;
	transition:.2s;
}
a:hover, a:focus {
	text-decoration: none;
	color:#3B4859;
	outline: none;
}

