@charset "utf-8";
@import url("//fonts.googleapis.com/css?family=Nanum+Gothic");
@import url("//vendor-cdn.imweb.me/css/nanumSquare.css");

@-moz-keyframes fadein {
	0% {
		opacity: 0
	}
	100% {
		opacity: 1
	}
}
@-webkit-keyframes fadein {
	0% {
		opacity: 0
	}
	100% {
		opacity: 1
	}
}
body {
	font-size:15px;
	font-family: 'Raleway', 'NanumGothic', Sans-Serif;
	color:#333;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-feature-settings: 'liga', 'kern';
	direction: ltr;
	line-height: 1.45;
	overflow-x: hidden;
	overflow-y: scroll;
	margin: 0;
}
a {
	color:#333;
	transition:.2s;
}
a:hover, a:focus {
	text-decoration: none;
	color:#333;
	outline: none;
}
h1, h2, h3 {
	font-family: 'Arial', 'NanumSquare', Sans-Serif;
	margin: 0;
}
p, dl, ol, ul {
	word-break: keep-all;
}
ul > li {
	list-style: none;
}
ul {
	 padding-left: 0;
}
aside {
	width: 300px;
	height: 100%;
	position: fixed;
	top :0;
	left: 0;
	bottom: 0;
	z-index: 1;
	padding: 80px 0;
	text-align: center;
}
main {
	margin-left: 300px;
}
.logo {
	text-align: center;
}
.logo img {
	max-width: 128px;
	width: 100%;
}
.nav_button {
	font-size: 2.6em;
}
.nav_button a {
	text-decoration: none;
}
